<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SparkleGuysClean</title>
    <link rel="stylesheet" href="style.css">
</head>
<body> 
    <nav class=menubar>
        <div class=logo>
            <img src="\static\images\logo1.png" alt="Logo" class="logo_pic">
        </div>
        <div class=title>
            <h1 class="title_txt">Sparkle <span class="title_txt1"> Guys Clean</span></h1>
        </div>
        <div class=menubar_txts>
            <div class=menubar_lists>
                <h4>
                    <ul>
                        <li><a class="list_txt1" href="index.html">Home</a></li>
                        <li><a class="list_txt2" href="#">Services</a>
                            <ul id="dropdown">
                                <li class=dropdown_tx1><a href="bath.html">Bathroom Cleaning</a></li>
                                <li class=dropdown_tx2><a href="kitch.html">Kitchen Cleaning</a></li>
                                <li class=dropdown_tx3><a href="sofa.html">Sofa Cleaning</a></li>
                                <li class=dropdown_tx4><a href="carpet.html">Carpet Cleaning</a></li>
                                <li class=dropdown_tx5><a href="mattress.html">Mattress Cleaning</a></li>
                                <li class=dropdown_tx6><a href="fullhouse.html">Full House Deep Cleaning</a></li>
                                <li class=dropdown_tx7><a href="hs.html">House shifting Service</a></li>
                                <li class=dropdown_tx8><a href="minserv.html">Mini Services</a></li>
                            </ul>
                        </li>
                        <li><a class="list_txt3" href="#">About</a></li>
                        <li><a class="list_txt4" href="#">Contact</a></li>
                    </ul>          
                </h4>


            </div>
        </div>
      </nav>

</body>
</html>
